@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: linear-gradient(to bottom right, #979fe9, #7e00f3, #963a68);
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
}